* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-couleur {
    background: #D2D2D2;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    height: 70px;
    border: 2px solid #198754;
    border-radius: 10px;
    outline: none;
    padding: 20px 15px 10px 15px;
    font-size: 16px;
}
.fs-6-photo{
    font-size: 12px;
}

.input-container label {
    position: absolute;
    left: 15px;
    top: 22px;
    background: white;
    padding: 0 5px;
    transition: 0.3s;
    pointer-events: none;
}
.cercle{
    width: 30px;
    height: 30px;
}

/* Quand on clique */
.input-container input:focus+label,
.input-container input:valid+label {
    top: -10px;
    font-size: 14px;
    color: #198754;
}

.mode-sombre {
    background-color: black;
    color: white;
}

nav,
aside,
.grande-card {
    background: #EDEDED;

}

.nbre-notification {
    background: #DF3C48;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -15px;
}

.nbre-notification1 {
    background: #DF3C48;
    width: 30px;
    height: 30px;
    bottom: 390px;
    left: 5px;
}

aside {
    width: 100px;
    left: 0;
    top: 0;
   
}
.bg-white{
    background:#EDEDED !important;
}

.dropdown-menu {
    position: fixed !important;
}

.icone-vert {
    color: #1B8755;
}
.icone-jaune{
    color: #FCC300;
}
.icone-bleu{
    color: #0B7AFE;
}
.icone-rouge{
    color: #EC4D3A;
}
.espace-bleu{
    width: 35px;
}

@media (max-width: 1200px) {

    .grande-card svg {
        width: 20px;
        height: 20px;
    }

    .grande-card .nbre {
        font-size: 0.8rem !important;
    }

    .grande-card p {
        font-size: 10px;
    }
    .fs-6-photo{
    font-size: 8px;
}

}

@media (max-width:768px) {
    body {
        margin-left: 100px;
    }
}